In [1]:
import pandas as pd;

In [3]:
dataload = pd.read_csv('dataset.csv')

In [4]:
dataload

      0001010101
0      100001101
1     1010111101
2     1001000100
3     1011000101
4      100011010
...          ...
9994    11001100
9995  1000110111
9996      110011
9997  1011011110
9998  1010000000

[9999 rows x 1 columns]